.logo--ayomi {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-right: 24px;
  text-align: center;
  letter-spacing: .005em;
  text-transform: uppercase;
  color: #000;
}
